# Python/Django обязательные исключения

# 1. Скомпилированные байт-код файлы (Python)
*.pyc
__pycache__/

# 2. База данных SQLite (локальная)
db.sqlite3

# 3. Файлы медиа, загруженные пользователями (если хранятся локально)
# Их обычно исключают, если вы не хотите, чтобы они попали в репозиторий.
# Если вы используете облачное хранилище (AWS S3 и т.д.), это не так критично.
media/

# 4. Виртуальное окружение
# Исключает папку, где хранятся все установленные библиотеки (например, venv, .venv)
venv/
.venv/

# 5. Секретные ключи и настройки
# Это очень важно. Никогда не коммитьте секретные ключи!
# Предполагая, что вы храните секретные настройки в отдельном локальном файле
local_settings.py
